#algo-container {
  display: flex;
  position: relative;
  margin-left: 20vw;
  height: 50vh;
  width: 60vw;
  background-color: lightblue;
  flex-direction: row;
  top: 30px;
}

.divBar {
  background-color: black;
  margin-left: 1px;
}

.Display-4 {
  text-align: center;
  color:#3500d3;
}

#buttons {
  text-align: center;

}

.Display {
  text-align: center;
}

.navbar {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  margin: 0;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  margin: 0;
}