#algo-container {
  display: flex;
  position: absolute;
  margin-left: 20vw;
  height: 50vh;
  width: 60vw;
  background-color: lightblue;
  flex-direction: row;
}

.divBar {
  background-color: black;
  margin-left: 1px;
}